
projects/Tutorials/FPGA System Verilog/7_Segment_Display/Src/impl/temp/

projects/Tutorials/FPGA System Verilog/7_Segment_Display/Src/impl/pnr/

projects/Tutorials/FPGA System Verilog/7_Segment_Display/Src/impl/

*.user
